<h1>Mon compte</h1>
<hr />

<div *ngIf="!isLoggedIn()">
  <p>
    Veuillez vous <a routerLink="/login">connecter</a> pour accéder à votre compte.
  </p>
</div>

<div *ngIf="isLoggedIn()">
  <h2>Changer de mot de passe</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="oldPass">Ancien mot de passe</label>
      <input type="password" class="form-control" id="oldPass" formControlName="oldPass"
             placeholder="Ancien mot de passe"
             required [ngClass]="{'is-invalid': old.invalid && (old.dirty || old.touched) }">
      <div class="invalid-feedback" *ngIf="old.invalid && (old.dirty || old.touched)">
        <div *ngIf="confirm.errors.required">
          L'ancien mot de passe est requis.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="newPass">Nouveau mot de passe</label>
      <input type="password" class="form-control" id="newPass" formControlName="newPass"
             placeholder="Nouveau mot de passe"
             required [ngClass]="{'is-invalid': new.invalid && (new.dirty || new.touched), 'is-valid': new.valid}">
      <div class="invalid-feedback" *ngIf="new.invalid && (new.dirty || new.touched)">
        <div *ngIf="new.errors.required">
          Le mot de passe est requis.
        </div>
        <div *ngIf="new.errors.minlength">
          Le mot de passe doit contenir au moins 8 caractères.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPass">Confirmation</label>
      <input type="password" class="form-control" id="confirmPass" formControlName="confirmPass"
             placeholder="Confirmation"
             required [ngClass]="{'is-invalid': confirm.value != new.value && (confirm.dirty || confirm.touched),
              'is-valid': confirm.value == new.value && confirm.touched}">
      <div class="invalid-feedback" *ngIf="confirm.value != new.value && (confirm.dirty || confirm.touched)">
        <div *ngIf="confirm.value != new.value">
          Doit être identique au mot de passe.
        </div>
      </div>
    </div>
    <div *ngIf="status === LS.BadCredentials" class="alert alert-danger">
      Ancien mot de passe invalide.
    </div>
    <div *ngIf="status === LS.NetworkError" class="alert alert-warning">
      Impossible de contacter le serveur distant.
    </div>
    <div *ngIf="status === LS.Success" class="alert alert-success">
      Mot de passe changé avec succès.
    </div>
    <button type="submit" class="btn btn-primary send-btn">
      Envoyer
      <app-spinner *ngIf="loading" [type]="'button'"></app-spinner>
    </button>
  </form>
</div>