<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Commentaires</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let comment of album?.comments">
    <td>
      <h5>{{comment.author.username}}<small> {{comment.date | date:'le d.M.y à HH:mm'}}</small></h5>
      {{comment.text}}
      <span class="delete-btn" (click)="deleteComment(comment)" *ngIf="canDelete(comment)">&times;</span>
    </td>
  </tr>
  </tbody>
</table>
<textarea class="comment-input" [placeholder]="getPlaceholder()" [(ngModel)]="commentText" [disabled]="!canComment()">
</textarea>
<button class="btn btn-primary send-btn" (click)="sendComment()" [disabled]="!canComment()">
  Envoyer
  <app-spinner *ngIf="loading" [type]="'button'"></app-spinner>
</button>