<div class="alert alert-warning top-z-index" *ngIf="loadingError">
  Erreur lors du chargement de l'album.
  <span class="alert-link cursor-hover underline-hover" (click)="getAlbum()">Réessayer.</span>
</div>
<div class="image-frame">
  <app-photo [photo]="photo"></app-photo>
</div>
<div class="button-bar">
  <button class="btn btn-dark" (click)="previousPhoto()">
    <span class="oi oi-chevron-left" title="previous"></span>
  </button>
  <button class="btn btn-dark" (click)="close()">
    <span class="oi oi-x" title="close"></span>
  </button>
  <button class="btn btn-dark" (click)="nextPhoto()">
    <span class="oi oi-chevron-right" title="next"></span>
  </button>
</div>