<div class="alert alert-warning top-z-index" *ngIf="loadingError">
  Erreur lors du chargement de l'album.
  <span class="alert-link cursor-hover underline-hover" (click)="getAlbum()">Réessayer.</span>
</div>
<div class="image-frame">
  <app-photo [photo]="photo"></app-photo>
</div>

<span class="oi oi-menu toggle-btn cursor-hover" title="Menu" (click)="toggleMenu()"></span>
<app-photo-side-menu [photo]="photo" [state]="menuState" (onDelete)="onDelete($event)"></app-photo-side-menu>

<span class="oi oi-x close-btn cursor-hover" title="Fermer" (click)="close()"></span>

<div class="prev-zone cursor-hover" (click)="previousPhoto()">
  <span class="oi oi-chevron-left arrow-btn" title="Précédent" [@btnState]="buttonState"></span>
</div>

<div class="next-zone cursor-hover" (click)="nextPhoto()">
  <span class="oi oi-chevron-right arrow-btn" title="Suivant" [@btnState]="buttonState"></span>
</div>
