<div class="alert alert-warning top-z-index" *ngIf="loadingError">
  Erreur lors du chargement de l'album.
  <span class="alert-link cursor-hover underline-hover" (click)="getAlbum()">Réessayer.</span>
</div>
<div class="image-frame">
  <app-photo [photo]="photo" type="detail"></app-photo>
</div>
<div class="button-bar">
  <button class="btn btn-dark" (click)="previousPhoto()">
    <
  </button>
  <button class="btn btn-dark" (click)="close()">
    x
  </button>
  <button class="btn btn-dark" (click)="nextPhoto()">
    >
  </button>
</div>