<app-spinner *ngIf="loading"></app-spinner>

<div class="alert alert-warning" *ngIf="loadingError">
  Erreur lors du chargement de l'album.
  <span class="alert-link link" (click)="getAlbum()">Réessayer.</span>
</div>

<div [hidden]="!album">
  <h1>{{album?.title}} <small>{{album?.authors | authorList}}{{album?.date | date:', le d.M.y'}}</small></h1>
  <p>{{album?.description}}</p>
  <hr />
</div>

<div #fullWidthContainer class="full-width">
  <div #thumbnailContainer class="thumbnail-container">
    <div *ngFor="let photo of album?.photos" style="float:left;">
      <a routerLink="/album/{{album.id}}/photo/{{photo.id}}">
        <app-photo [photo]="photo" [type]="'thumbnail'"></app-photo>
      </a>
    </div>
  </div>
</div>

<app-album-comment-list [album]="album" [hidden]="!album"></app-album-comment-list>
