<h1>{{album?.title}}</h1>
<h3>{{album.date | date:'le d.M.y'}}</h3>
<p>{{album?.description}}</p>
<hr />

<div #fullWidthContainer class="full-width">
    <div #thumbnailContainer class="thumbnail-container">
        <div *ngFor="let photo of album?.photos" style="float:left;">
            <img src="{{getPhotoUrl(photo)}}" class="image-thumbnail" />
        </div>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Commentaires</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comment of album?.comments">
            <td>
                <h5>{{comment.author.username}}<small>, {{comment.date | date:'le d.M.y à HH:mm'}}</small></h5>
                {{comment.text}}
            </td>
        </tr>
    </tbody>
</table>
<textarea class="comment-input" placeholder="Ajouter un commentaire..."></textarea>
<button class="btn btn-primary send-btn">Envoyer</button>