<app-spinner *ngIf="loading"></app-spinner>

<div class="alert alert-warning" *ngIf="loadingError">
  Erreur lors du chargement de l'album.
  <span class="alert-link cursor-hover underline-hover" (click)="getAlbum()">Réessayer.</span>
</div>

<div [hidden]="!album">
  <h1>{{album?.title}} <small>{{album?.authors | authorList}}{{album?.date | date:', le d.M.y'}}</small></h1>
  <p>{{album?.description}}</p>

  <div>
    <button class="btn btn-primary" type="button" (click)="downloadAlbum()">
      <span class="oi oi-cloud-download" title="download"></span>
      Télécharger
    </button>
    <button *ngIf="isUserAuthor()" type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">
      <span class="oi oi-trash" title="delete"></span>
      Supprimer
    </button>
  </div>
  <hr>
</div>

<div #fullWidthContainer class="full-width">
  <div #thumbnailContainer class="thumbnail-container">
    <div *ngFor="let photo of album?.photos" style="float:left;">
      <a routerLink="/album/{{album.id}}/photo/{{photo.id}}">
        <app-photo [photo]="photo" [type]="'thumbnail'"></app-photo>
      </a>
    </div>
  </div>
</div>

<app-album-comment-list [album]="album" [hidden]="!album"></app-album-comment-list>

<a #downloadLink hidden></a>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Supprimer l'album</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Toutes les photos seront définitivement supprimées.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteAlbum()">Supprimer</button>
      </div>
    </div>
  </div>
</div>
