<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <a class="navbar-brand" routerLink="/">
      <span class="oi oi-camera-slr" title="albums"></span>
      Albums
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarLinks">
      <div class="navbar-nav">

        <a class="nav-item nav-link" routerLink="/album/upload">
          <span class="oi oi-cloud-upload" title="upload"></span>
          Upload
        </a>

        <a *ngIf="!auth.isLoggedIn" class="nav-item nav-link" routerLink="/login">
          <span class="oi oi-account-login" title="login"></span>
          Connexion
        </a>

        <div *ngIf="auth.isLoggedIn" class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="oi oi-cog" title="account"></span>
            {{auth.getUsername()}}
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/account">Mon compte</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cursor-hover" (click)="auth.logout()">
              Déconnexion
            </a>
          </div>

        </div>
      </div>

      <app-search-form></app-search-form>

    </div>
  </div>
</nav>

<app-toast></app-toast>

<div class="container">
  <router-outlet></router-outlet>
</div>
