@import '../../../../node_modules/bootstrap/scss/bootstrap';

.toast-container {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 10001;
}

.shadowed {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
