<h1>Ajouter un album</h1>

<hr>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Titre</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Entrez un titre"
           minlength="3" required #title="ngModel" [(ngModel)]="album.title"
           [ngClass]="{'is-invalid': title.invalid && (title.dirty || title.touched)}">

    <div class="invalid-feedback" *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors.required">
        Le titre est requis.
      </div>
      <div *ngIf="title.errors.minlength">
        Le titre doit contenir au moins trois caractères.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" placeholder="Entrez une description"
           [(ngModel)]="album.description">
    </textarea>
  </div>

  <app-author-picker [authors]="album.authors"></app-author-picker>

  <div class="form-group">
    <label for="date">Date</label>
    <ng-datepicker id="date" name="date" [(ngModel)]="album.dateObject" [options]="dateOptions"></ng-datepicker>
  </div>

  <app-photo-picker [files]="album.photoFiles"></app-photo-picker>

  <button type="submit" class="btn btn-primary send-btn">Envoyer</button>
</form>