/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

/* Make room for the static navbar */
body {
  margin-top: 70px;
  background-color: #fcfcfc;
}

.cursor-hover:hover {
  cursor: pointer;
}

.underline-hover:hover {
  text-decoration: underline;
}