.preview-text {
  width: 100%;
  background-color: #1c313a;
  color: #ffffff;
  padding: 10px 20px;
}

.preview-photo {
  width: 100%;
}

.preview-photo-box {
  max-height: 600px;
  overflow: hidden;
}
