<div class="preview-text">
  <h2>{{album.title}} <small>{{album.authors | authorList}}, {{album.date | date:'le d.M.y'}}</small></h2>
  <hr />
  <p>
    {{album.description}}
  </p>
</div>
<a routerLink="/album/{{album.id}}">
  <div *ngIf="album?.photos?.length == 0" class="no-photo-message">Cet album ne contient aucune photo.</div>
  <app-photo *ngIf="coverPhoto" [photo]="coverPhoto" [type]="'cover'"></app-photo>
</a>
<div class="row preview-comments">
  <div class="col-md preview-comment" *ngFor="let comment of album.comments | slice:-4">
    <h5>{{comment.author.username}}<small> {{comment.date | date:'le d.M.y à HH:mm'}}</small></h5>
    <hr />
    <p>{{comment.text}}</p>
  </div>
</div>
